# Site
VITE_SITE_NAME="主页"
VITE_SITE_AUTHOR="CjhAIIt"
VITE_SITE_AUTHOR_URL="https://github.com/CjhAIIt"
VITE_SITE_KEYWORDS="homepage,intranet,cabinet monitoring"
VITE_SITE_DES="内网主页"
VITE_SITE_URL="172.18.8.107"
VITE_SITE_LABEL="主页"
VITE_SITE_LOGO="/images/icon/favicon.ico"
VITE_SITE_MAIN_LOGO="/images/icon/logo.png"
VITE_SITE_APPLE_LOGO="/images/icon/apple-touch-icon.png"

# Description
VITE_DESC_HELLO="主页"
VITE_DESC_TEXT="172.18.8.107 内网首页"
VITE_DESC_HELLO_OTHER="主页"
VITE_DESC_TEXT_OTHER="172.18.8.107 内网首页"

# Weather
VITE_WEATHER_KEY=""
VITE_WEATHER_SECURITY_CODE=""
VITE_WEATHER_CITY="芜湖市"

# Other
VITE_SITE_START="2020-10-24"
VITE_SITE_ICP=""

# Music
VITE_SONG_API="https://api-meting.imsyy.top/api"
VITE_SONG_SERVER="netease"
VITE_SONG_TYPE="playlist"
VITE_SONG_ID=""
